  .welcome-Message {
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  padding :$sc-padding-lv10 $sc-padding-lv8;
  color: #000000;
  width: fit-content;
  position: relative;
  display: flex;
  }
  