.subscription-info-card {
	@extend .info-card;
	border: none;

	@media (max-width: $screen-xs) {
		padding: $sc-padding-lv3 0px;
	}
}

.subscription-info-card-content {
	@extend .info-card-content;
	color: $sc-color-secondary;
	font-weight: bold;
}

table.subscription-table {
	margin-top: $sc-margin-lv3;
}

.subscription-controls {
	margin: $sc-margin-lv4 0px;
}

.failure-validation-message,
.unsubscribe-validation-message {
	color: $rb-bright-red;
	border: 1px solid $btn-danger-border;
	background-color: rgb(255, 243, 244);
	margin-top: $sc-margin-lv3;
	padding: $sc-padding-lv1;
	font-weight: $sc-font-weight-normal;
	display: none;
	width: max-content;
}

.subscription-table-desktop,
.subscription-table-mobile {
	td {
		padding-top: $sc-padding-lv2;
	}

	tr:hover {
		background-color: $sc-color-theme-background;
	}
}

.subscription-table-desktop {

	th {
		border-top: 1px solid $sc-color-secondary;
		padding: $sc-padding-lv2 $sc-padding-lv1;
		word-break: break-word;
		min-width: 110px;
		color: $sc-color-secondary;
	}

	td {
		border-top: 1px solid $sc-color-secondary;
		padding: $sc-padding-lv2 $sc-padding-lv1;
		word-break: break-word;
		min-width: 110px;
		font-weight: $sc-font-weight-normal;
	}


	display: block;
	margin-top: $sc-margin-lv3;

	@media (max-width: $screen-sm-max) {
		display: none;
	}
}

.subscription-table-mobile {
	td {
		padding-left: 0px;
	}

	display: none;

	@media (max-width: $screen-sm-max) {
		display: block;
		margin-top: $sc-margin-lv3;
	}
}

.subscription-submit,
.subscription-unsubscribe-button,
.subscription-reset {
	padding: $sc-padding-lv2 $sc-padding-lv4;
	line-height: 1;
	letter-spacing: 0.5px;
	border: 1px solid $btn-danger-border;
	text-transform: uppercase;
}

.subscription-submit {
	background-color: $sc-color-primary;
	color: $sc-neutral-shade-0;
	margin-right: $sc-margin-lv1;
}

.subscription-unsubscribe-button {
	background-color: $sc-color-primary;
	color: $sc-neutral-shade-0;
	margin-top: $sc-margin-lv3;
}

.subscription-reset {
	background-color: $sc-neutral-shade-0;
	color: $sc-color-primary;
	font-weight: $sc-font-weight-normal;
}

.subscription-submit:hover,
.subscription-unsubscribe-button:hover {
	background-color: $rb-bright-red;
}

.subscription-reset:hover {
	color: $sc-neutral-shade-0;
	background-color: $sc-color-primary;
}

.subscription-unsubscribe-section {
	margin-top: 40px;
}

.subscription-contact-us {
	margin-top: $sc-margin-lv8;
	font-weight: $sc-font-weight-normal;
}

.subscription-contact-us-link {
	color: $rb-mid-teal;
}

.subscription-unsubscribe-heading,
label.subscription-label {
	font-weight: $sc-font-weight-normal;
}

.subscription-unsubscribe-status {
	margin-top: $sc-margin-lv8;
	font-weight: $sc-font-weight-normal;
}

.subscription-input {
	max-width: 660px;
	width: 100%;
	font-weight: $sc-font-weight-normal;
}