.fav-image-container {
    height: 150px;
    width: 150px;
    margin: auto;
}

[data-view="Fav.Collection"] .backbone-collection-view-cell-span12 {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: $sc-padding-lv3;
    transition: all .8s ease;

    .nav-tag {
        text-decoration: none;
    }

    .col-md-1,
    .col-md-2,
    .col-md-3 {
        cursor: pointer;

        h6 {
            &:hover {
                color: green($color: #000000);
            }
        }

        //height: 150px;
        &:hover {
            color: green;
        }
    }

    .price-section {
        cursor: default;

        span {
            cursor: default;
        }
    }

    span {
        cursor: pointer;

        a {
            color: gray;
            text-decoration: none;

            &:hover {
                color: green($color: #000000);
            }
        }
    }

    input {
        -webkit-tap-highlight-color: transparent;
    }

    .number {
        display: flex;

        @media (max-width: $screen-md-min) {
            width: 100%;
            place-content: center;
        }

        @media (max-width: 991px) {
            margin: $sc-margin-lv2 0px;
        }
    }

    .minus {
        background-color: rgb(196, 206, 213);
        padding: 12px;
        width: 40px;
        height: 40px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(179, 181, 184);
        cursor: pointer;
    }

    .plus {
        background-color: rgb(196, 206, 213);
        padding: 12px;
        width: 40px;
        height: 40px;
        font-size: 24px;
        display: flex;
        align-items: center;
        border: 1px solid rgb(179, 181, 184);
        justify-content: center;
        cursor: pointer;
    }

    span.fav-display-product-itemid {
        font-size: 1rem;
    }


    input[type="number"] {
        margin-bottom: 0;
        width: 50px;
        text-align: center;
        border: 1px solid #ddd;
        display: inline-block;
        vertical-align: middle;
        height: 40px;
        margin: 0 $sc-margin-lv1;
        -moz-appearance: textfield;
        outline: none;

        &::-webkit-inner-spin-button {
            display: none;
            -webkit-appearance: none;
        }
    }

    #fav-qty {
        width: 50px;
        height: 40px;
        text-align: right;
        padding: 5px;
        background-color: #fff;
        border: 1px solid rgb(85, 91, 96);
        margin: 0 5px;
    }

    .fav-display-clear-icon {
        margin-left: $sc-margin-lv8;
        @extend .single-select-icon-close;
    }

    .mobile-view-icon {
        display: none;

        @media (max-width: $screen-sm-max) {
            display: block;
        }

    }

    .fav-align-center {
        -webkit-tap-highlight-color: transparent;
        outline: none;
        -ms-touch-action: manipulation;
        touch-action: manipulation;

        @media (max-width: $screen-md-min) {
            text-align: center;
        }

        h6 {
            margin-left: $sc-margin-lv1;
        }
    }


    .desktop-view-icon {
        display: block;

        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
}

.fav-button-container {
    @media (max-width: $screen-sm-min) {
        float: none;
    }

    float: right;
    margin-top: 25px;
    margin-bottom: 25px
}


.remove-fav-items {
    @extend .button-secondary;
    @extend .button-large;
    margin-right: 10px;
    margin-bottom: 10px;
}

.add-fav-items {
    @extend .button-primary;
    @extend .button-large;
}

.button-disabled {
    pointer-events: none;
}

[for="fav-selectbox"] {
    margin: 10px 0;

    .checkbox-label {
        top: 5px;
    }

}

.no-fav-found {
    text-align: center;
    margin-top: 40px;

    span {
        font-size: 14px;
    }
}

.fav-heading {
    font-size: 30px;

}

.fav-out,
.fav-in {
    display: none;
}

.show-button {
    display: inline-block;
    cursor: pointer;
}

.add-to-favourites-button.disabled {
    opacity: .5;
    pointer-events: none;
}

.fav-align-center {

    .product-line-stock-icon-in {
        background-color: #94cbd1;

        i {
            margin: auto;
        }
    }

    .product-views-price-old {
        font-size: 20px;
        margin-right: 3px;
    }

    .product-views-price-lead {
        font-size: 20px;
    }

    tbody tr {
        @media (max-width: 992px) {
            display: flex;
        }
    }

    @media (min-width:$screen-md-max) {
        .fav-image-container {
            padding-right: 20px;
        }
    }

    @media (min-width:$screen-md-min) and (max-width:$screen-md-max) {

        .fav-image-container {
            padding-right: 40px;
            padding-top: 20px;
        }
    }

    p.product-line-stock-msg-in {
        margin-bottom: revert;
    }
}

a.global-views-pagination-active {
    color: grey;
}

.tooltip-wishlist-favourite {
    position: absolute;
    left: 61%;
    transform: translateX(-50%);
    background-color: #94cbd1;
    color: white;
    padding: $sc-padding-lv1 $sc-padding-lv1;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 12px;
    transition: all 0.3s ease;
    min-width: 150px;
    bottom: 20px
}

.favourite-already-out,
.favourite-already-in {
    width: 33px;
}

.favourite-already-out:hover,
.favourite-already-in:hover {
    .tooltip-wishlist-favourite {
        opacity: 1;
        visibility: visible;

    }
}

.favourite-already-out-list:hover,
.favourite-already-in-list:hover {
    .tooltip-wishlist-favourite-list {
        opacity: 1;
        visibility: visible;

    }
}

.tooltip-wishlist-favourite-list {
    position: absolute;

    left: 76%;
    transform: translateX(-50%);
    background-color: #94cbd1;
    color: white;
    padding: $sc-padding-lv1 $sc-padding-lv1;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
    min-width: 150px;
    bottom: 114px;

    @media(max-width: $screen-md-min) {

        left: 112px;
        bottom: 9px;
    }

    @media(min-width: $screen-md-min) and (max-width: $screen-lg-min) {

        left: 81%;
        bottom: 131px;
    }

    @media(min-width:1230px) and (max-width:1420px) {

        left: 78%;

    }

    @media(min-width:1200px) and (max-width:1231px) {

        bottom: 128px;
        left: 78%;

    }

}

.header-profile-menu-myaccount-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    top: 70px;
    padding: 13px;
    z-index: 1002;
    background-color: $sc-neutral-shade-0;

}

.header-menu-level-container,
.header-profile-menu-myaccount-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 200ms ease-in-out, opacity 200ms ease-in-out;
}

.open .header-menu-level-container,
.open .header-profile-menu-myaccount-container {
    visibility: visible;
    opacity: 1;
}

.header-menu-profile {
    position: static;
}

.header-menu-level3-anchor,
.header-menu-profile .header-menu-myaccount-anchor-level3 {
    padding: $sc-padding-lv2 0;
}

.header-menu-profile .header-menu-myaccount-anchor-level2,
.header-menu-profile .header-menu-myaccount-span-level2 {
    font-weight: $sc-font-weight-bold;
    padding: $sc-padding-lv4 0;
}

.header-menu-profile .header-menu-myaccount-overview {
    margin-bottom: $sc-padding-lv3;
}

.global-views-star-rating {
    display: none;
}

.facets-item-cell-list-right .itembadges-container-top-right {
    position: unset !important;
    width: auto !important;
}

.global-views-modal-content-body .address-edit-fields-group-input-zip {

    @extend .input-large;
}

.myaccount-layout-main .address-edit-fields-group-input-zip {
    @extend .input-large;
}

.col-md-2.fav-align-center {
    z-index: 10;
}

@media(max-width: $screen-sm-max) {
    i.fav-display-clear-icon.mobile-view-icon {
        margin-right: $sc-margin-lv8;
    }

    .fav-checkboxs.single-item {
        margin-left: $sc-margin-lv2;
    }

    .fav-display-product-name {
        display: none;
    }

}

@media(min-width:$screen-md) and (max-width:$screen-lg-min) {

    .col-md-2.fav-align-center {
        margin-right: $sc-margin-lv5;
    }

}

@media(min-width:$screen-sm-max) and (max-width:$screen-md) {
    .fav-display-clear-icon:before {
        margin-right: $sc-margin-lv8;
    }

}
.itemssearcher-item-results-content .global-views-star-rating{
    display: none;
}