#container-partners .header-partners img {
    max-height: 100px;
    width: auto;
    max-height: 85px;
    max-width: 250px;
    cursor: pointer;
}

.container-partners img {
    padding: $sc-padding-lv2 0;
    max-width: 200px;
    margin: auto;
    max-height: 70px;
    width: auto;

    @media (max-width: $screen-xs-max) {
        padding: $sc-padding-lv4 $sc-padding-lv2;
        width: 100%;
        max-height: 75px;
    }
}

.container-partners .owl-carousel .owl-item img {
    width: auto;

    @media (max-width: $screen-xs-max) {
        width: 100%;
    }
}

.container-partners .owl-carousel .owl-stage {
    transition-timing-function: linear !important; // overriding since we are extending the default CSS of Owl
}

.container-partners .owl-carousel .owl-item {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slider {
    display: flex;
}

.header-partners h2,
.partners-section-partners h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: $sc-margin-lv1;
    font-weight: 700;
}

.header-partners {
    text-align: center;
}

.container-partners {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;

    @media (max-width: $screen-lg-min) {
        width: 95%;
    }

}

.container-partners {
    p {
        line-height: 1.2;
        font-size: $rb-md-text;

        @media (max-width: $screen-xs-max) {
            font-size: $rb-main-text;
        }
    }

    hr {
        background-color: $sc-color-theme-background;
        width: 120px;
    }

    ul {
        margin: $sc-margin-lv2 auto;
        text-align: left;
    }
}

.partners-section-partners {
    text-align: center;
    padding: 0 $sc-padding-lv2;
    margin-bottom: $sc-margin-lv4;
}

.owl-carousel .owl-stage {
    margin: auto;
}

.content-partners,
.content-partners-second {
    padding: 0 $sc-padding-lv2;
    text-align: left;
}

.content-partners-second {
    margin-bottom: $sc-margin-lv4;
}