.checkoutprescription-info-card {
	@extend .info-card;
}

.checkoutprescription-info-card-content {
	@extend .info-card-content;
	color: $rb-mid-grey;
	font-weight: bold;
}

.file-select-popup {
	background: $fa-inverse;
	border-radius: 6px;
	text-align: center;
	padding: 0 $sc-padding-lv6 $sc-padding-lv6;
	color: $rb-mid-grey;
	transition: transform 0.4s, top 0.4s;
}


input[name="Check-input-file"] {
	border-color: $fa-border-color;
}

.file-upload .file-select {
	display: block;
	border: 1.5px solid $fa-border-color;
	color: $rb-mid-blue;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	text-align: left;
	background: $fa-inverse;
	overflow: hidden;
	border-radius: 5px;
}

.file-upload .file-select .file-select-button {
	background: $fa-inverse;
	padding: $sc-padding-lv1;
	display: inline;
	line-height: 40px;
	color: $rb-mid-grey;
	font-size: 1rem;
	border: 1px solid #000;
	margin-left: $sc-margin-lv1;
	border-radius: 5px;
}

.file-upload .file-select {
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
	color: $fa-inverse;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
	z-index: 100;
	cursor: pointer;
	position: relative;
	width: 98%;
	bottom: 41px;
	opacity: 1;
	border: none;
	padding-left: $sc-padding-lv6;
}

input::file-selector-button {
	opacity: 0;
}

.order-history-summary-button-uploadCheck {
	@extend .button-secondary;
	@extend .button-medium;
	@extend .button-generic;
	margin-bottom: $sc-margin-lv2;
	display: block;
	background-color: #000;
	border-color: #000;

	&:hover,
	&:active,
	&:focus {
		background-color: #000;
		border-color: #000;
		font-weight: 400;
	}

	padding: $sc-padding-lv2 0px;
	color: $fa-inverse;
}

.order-wizard-paymentmethod-purchasenumber-module .file-upload {
	padding-top: $sc-padding-lv5;
}

p.file-upload-validation {
	padding-top: $sc-padding-lv4;
	text-align: left;
}