/* Edited for Threads Theme */

.login-register-header {
    @extend .row;
    margin-bottom: $sc-margin-lv4;
    margin-left: $sc-margin-lv3;
    margin-right: $sc-margin-lv3;

    @media (min-width: $screen-md-min) {
        max-width: 1600px;
        margin: auto;
        padding: unset;
        margin-left: $sc-margin-lv3;
        margin-right: $sc-margin-lv3;
    }
}

.login-register-title {
    @extend .col-xs-12;
    font-size: $rb-main-heading;
    text-transform: uppercase;
    text-align: justify;
    padding-left: 0;
    margin-top: $sc-margin-lv4;
}

.login-register-title-noregister {
    text-align: center;
}

.login-register-body {
    @extend .row;
}

.login-register-body-colored {
    @extend .login-register-body;

    & .login-register-wrapper-column-login {
        @extend .col-sm-push-3;
    }
}

.login-register-wrapper-column-login,
.login-register-wrapper-column-register {
    @extend .col-xs-12;
    @extend .col-sm-6;
}

.login-register-wrapper-login,
.login-register-wrapper-register {
    @extend .box-column;
}

.login-register-wrapper-guest {}

.login-register-title-register {}

.login-register-wrapper-register {
    min-height: 550px;
    background-color: rgba(255, 255, 255, 0.66);
    padding: $sc-padding-lv6;

    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
        min-height: 680px;
    }

    .register-page-content {
        padding-top: $sc-padding-lv3;
    }

    .register-page-content li {
        list-style: disc;
        margin-left: $sc-padding-lv4;
        line-height: 1.8;
    }

    @media (max-width: $screen-xs-max) {
        padding: $sc-padding-lv3;
    }
}

.login-register-wrapper-login {
    background-color: rgba(255, 255, 255, 0.66);
    min-height: 550px;

    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
        min-height: 680px;
    }
}

button.login-register-login-submit {
    margin-right: $sc-margin-lv2;
}

.login-register-login-forgot {
    margin-left: 0px;
}

.login-register-body-colored .login-register-wrapper-column-login {
    left: 0px;
}

.registration-page-link {
    color: $sc-neutral-shade-0;
    padding: $sc-padding-lv4 $sc-padding-lv7;

    @media (max-width: $screen-sm) {
        display: block;
        padding: $sc-padding-lv4;
    }
}

.registration-page-link:hover,
.registration-page-url:hover {
    color: $sc-neutral-shade-0;
}

.registration-page-url:hover {
    background-color: rgb(200, 14, 36);
}

.registration-page-url {
    font-size: $rb-main-text;
    background-color: $sc-color-primary;
    height: 60px;
    margin-top: $sc-margin-lv4;

    @media (max-width: $screen-xs-max) {
        width: 100%;
    }
}

p.register-page-heading {
    padding-top: $sc-padding-lv4;
    width: 82%;

    @media (max-width: $screen-xs-max) {
        width: 100%;
    }
}

.header-container {

    text-align: center;
    margin-bottom: $sc-margin-lv8;

    h1 {
        font-weight: 700;
        margin-bottom: $sc-margin-lv6;

        @media (max-width: $screen-sm-min) {
            font-size: $rb-main-sub-heading;
            margin-bottom: $sc-margin-lv2;
        }

    }

    p {
        font-size: $rb-lg-text;
        font-weight: 700;

        @media (max-width: $screen-sm-min) {
            font-size: $rb-main-text;
        }

    }

    .header-container-text {
        width: 80vw;
        margin: auto;
        margin-top: $sc-margin-lv4;
    }
}

.header-container-image {
    background-image: url("/site/Banner/wallpaper.webp");
    background-position: center;
    background-size: cover;
    padding: $sc-padding-lv8 $sc-padding-lv4;

    @media (max-width: $screen-sm-min) {
        padding: $sc-padding-lv3;

    }
}

.login-register {
    padding: 0 $sc-padding-lv3;

    @media (min-width: $screen-md-min) {
        max-width: 1600px;
        margin: auto;
        padding: unset;
    }
}

.login-radio-button-container {
    display: flex;
    align-items: self-start;

    [type="radio"] {
        margin-top: $sc-margin-lv1;
    }
}

.checkout-layout {
    @extend %sc-layout;
}

.checkout-layout-header {
    margin-bottom: $sc-margin-lv4;

    @media (min-width: $screen-sm-min) {
        margin-bottom: $sc-margin-lv8;
    }
}

.checkout-layout-content,
.checkout-layout-notifications {
    @extend .container;
    @include site-max-width-container;
    padding: unset;
}

.checkout-layout-footer {
    @extend %sc-footer !optional;
}

.checkout-layout-breadcrumb {}

.checkout-layout-no-javascript-msg {
    @extend .message-warning;
    width: 100%;
}

#register-radio-error {
    display: none;
    width: auto;
}

.swal-button {
    @extend .button-primary;

    &:hover {
        @extend .button-primary;
    }
}