.category-tile-text {
    font-size: 24px;
    color: #fff;
    margin-left: $sc-margin-lv2;
    font-weight: 700;
}

.category-tile-section {
    margin-bottom: $sc-margin-lv3;
}

.category-tile-container {
    margin: $sc-margin-lv3;
    margin-top: $sc-margin-lv7;

    @media (min-width: $screen-md-min) {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 70px;
    }
}

.category-arrow-icon {
    @extend .fa;
    @extend %fa-arrow-right;
    margin-right: $sc-margin-lv2;
}

.category-label {
    transition: all 500ms ease;
    display: flex;
    place-content: space-between;
    align-items: center;
    background-color: $rb-mid-red;

    &:hover {
        background-color: white;

        .category-tile-text {
            color: $rb-mid-red;
        }

        .category-arrow-icon:before {
            color: $rb-mid-red;
        }
    }
}

.category-arrow-icon:before {
    color: white;
}

.category-tile img {
    transition: all 1000ms ease;

    &:hover {
        transform: scale(1.02);
    }
}