.order-wizard-add-date-and-comments-module {
    @extend .order-wizard-paymentmethod-purchasenumber-module;
}

.order-wizard-add-comments-module-title,
.order-wizard-delivery-date-module-title,
.order-wizard-office-hours-module-title {
    @extend .order-wizard-paymentmethod-purchasenumber-module-title;
}

.order-wizard-add-comments-section {
    padding: $sc-margin-lv4 0px;
}

#comments-on-order {
    @media (min-width: $screen-lg-min) {
        width: 50%;
    }

    min-height: 200px;
}

#selected-date {
    width: 150px;
}

[data-root-component-id="Wizard.View"] {
    padding: $sc-padding-lv4;
}

.order-wizard-cart-controlled-grid-float,
.order-wizard-cart-rushorder-grid-float {
    @extend .order-wizard-cart-summary-grid-float;
}

#rush-order-summary {
    display: none;
}

.order-wizard-cart-controlled,
.order-wizard-cart-rushorder {
    @extend .order-wizard-cart-summary-tax;

}

.checkout-layout-content {
    .creditcard-module-list-placeholder .backbone-collection-view-row {
        padding: 0;
    }

    .creditcard-module-list-placeholder .backbone-collection-view-cell-span4,
    .creditcard-module-list-placeholder .backbone-collection-view-cell-span6 {
        @media(min-width: $screen-md) and (max-width:$screen-lg-min) {
            width: 50%;
        }

        @media(min-width: $screen-sm) and (max-width:$screen-md) {
            width: 100%;
        }
    }
}

a.order-wizard-paymentmethod-selector-module-button.selected {
    display: inline-block;
}

a.order-wizard-paymentmethod-selector-module-button,
.order-wizard-paymentmethod-invoice-module {
    display: none;
}