.shippingitems-info-card {
	@extend .info-card;
}

.shippingitems-info-card-content {
	@extend .info-card-content;
	color: $sc-color-secondary;
	font-weight: bold;
}

.selected-shipping-method-box {
	margin-bottom: $sc-margin-lv4;
	max-width: 550px;
	background-color: rgb(255, 255, 255);
	padding: $sc-padding-lv4;
	border: 1px solid #000000;
}

.order-wizard-shipmethod-module-selected-option {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	flex-wrap: nowrap;
}

.order-wizard-shipmethod-delivery-message {
	background-color: rgb(255, 255, 255);
	border: 1px solid #000000;
	padding: $sc-padding-lv2;
	width: fit-content;
	margin-top: $sc-margin-lv2;
}

h3.Shipping-item-ground-delivery-heading {
	margin-bottom: $sc-margin-lv2;
}

a.order-wizard-shipmethod-module-option.order-wizard-shipmethod-module-option-active {
	display: block;
	padding: 0px;
	border: none;
	margin-bottom: 0px;
}

a.order-wizard-shipmethod-module-option,
p#paymentmethod-error {
	display: none;
}

p#in-modal-display-card-type {
	border: 1px solid;
	padding: $sc-padding-lv2;
	max-width: 300px;

	@media(max-width: $screen-md) {
		max-width: 100%;
	}
}

p#display-card-type {
	border: 1px solid;
	padding: $sc-padding-lv2;
	max-width: 300px;
	background-color: rgb(255, 255, 255);
	margin-bottom: $sc-margin-lv2;

	@media(max-width: $screen-md) {
		max-width: 100%;
	}
}

p#custom-credit-card-validation-message {
	color: #D80621;
	background-color: rgb(255, 243, 244);
	border: 1px solid #f8ccd2;
	margin: $sc-margin-lv2 0px;
	padding: $sc-padding-lv2;
	width: fit-content;
}