.line-item-edit {
    display: flex;
    justify-content: space-between;

    .controlled-qty {
        max-width: 160px;
        width: 100%;
    }

    .line-item-name {
        width: 550px;

        small {
            opacity: .7;
        }
    }

    .line-item-qty {
        width: 100px;
        text-align: center;
    }
}

.line-edit-modal {

    h2,
    h3 {
        margin-bottom: $sc-margin-lv3;
    }

    h2 {
        margin-top: $sc-margin-lv2;
    }
}

[data-action="disabled"] {
    opacity: .5;
    pointer-events: none;
}

.line-edit-button {
    margin-top: $sc-margin-lv4;
    margin-left: auto;
}

@media (min-width: $screen-md-min) {
    .modal-dialog {
        min-width: 800px;
    }
}

.message-icon-close {
    @extend .fa;
    @extend %fa-close;
    background: $sc-neutral-shade-0;
    border-radius: 100%;
    padding: $sc-padding-lv1;
    margin-left: $sc-margin-lv1;
}

.removeItem,
#noitems-error,
#in-modal-noitems-error,
#in-modal-controlled-items-error,
#controlled-items-error {
    display: none;
}

.quick-add-box-right-quantity-add,
.quick-add-box-right-quantity-remove {

    &:active,
    &:hover {
        background-color: $sc-color-theme-500;
    }
}

.hst-number {
    font-size: $sc-font-size-xs;
    float: right;
}

@media (max-width: $screen-sm-max) {
    .order-history-details-content-col {
        margin-bottom: $sc-margin-lv8;
    }
}